.ItemContainer{
    width: 25rem;
    height: 30rem;
}
.card{
    height: 30rem;
    padding: 1rem;
}
.cardText{
    font-weight: 600;
}
.cardImg{
    height: 15rem;
    width: auto;
    object-fit: cover;
}
.cardBtn{
    background-color: var(--secondary);
}
.cardPrecio{
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 600;
}